<?xml version="1.0" ?>
<robot name="robotiq_hande_gripper">

  <link name="tool0"/>

  <joint name="robotiq_hande_coupler_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="tool0"/>
    <child link="robotiq_hande_coupler"/>
  </joint>

  <link name="robotiq_hande_coupler">
    <visual>
      <geometry>
        <mesh filename="package://UR5_GRIPPER_DESCRIPTION/meshes/io_coupler.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.00545" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0169" radius="0.0385"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.119"/>
      <origin xyz="0 0 0.00545" rpy="0 0 0"/>
      <inertia ixx="0.000046" ixy="0.0" ixz="0.0" iyy="0.000046" iyz="0.0" izz="0.000084"/>
    </inertial>
  </link>

  <joint name="robotiq_hande_base_joint" type="fixed">
    <origin xyz="0 0 0.011" rpy="0 0 0"/>
    <parent link="robotiq_hande_coupler"/>
    <child link="robotiq_hande_link"/>
  </joint>

  <link name="robotiq_hande_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ur5_gripper_description/meshes/hande.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.05345" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.1069" radius="0.0385"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.86387"/>
      <origin xyz="0 0 0.0495" rpy="0 0 0"/>
      <inertia ixx="0.00195" ixy="0.0" ixz="0.0" iyy="0.00195" iyz="0.0" izz="0.00060"/>
    </inertial>
  </link>

  <joint name="robotiq_hande_left_finger_joint" type="prismatic">
    <origin xyz="0 0 0.099" rpy="0 0 0"/>
    <parent link="robotiq_hande_link"/>
    <child link="robotiq_hande_left_finger"/>
    <axis xyz="1 0 0"/>
    <limit effort="130" lower="0" upper="0.025" velocity="0.15"/>
  </joint>

  <link name="robotiq_hande_left_finger">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ur5_gripper_description/meshes/finger.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ur5_gripper_description/meshes/finger_collision.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.03804"/>
      <inertia ixx="1E-9" ixy="0.0" ixz="0.0" iyy="1E-9" iyz="0.0" izz="1E-9"/>
    </inertial>
  </link>

  <joint name="robotiq_hande_right_finger_joint" type="prismatic">
    <origin xyz="0 0 0.099" rpy="0 0 0"/>
    <parent link="robotiq_hande_link"/>
    <child link="robotiq_hande_right_finger"/>
    <axis xyz="-1 0 0"/>
    <limit effort="130" lower="0" upper="0.025" velocity="0.15"/>
    <mimic joint="robotiq_hande_left_finger_joint" multiplier="1" offset="0"/>
  </joint>

  <link name="robotiq_hande_right_finger">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.14159265359"/>
      <geometry>
        <mesh filename="package://ur5_gripper_description/meshes/finger.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.14159265359"/>
      <geometry>
        <mesh filename="package://ur5_gripper_description/meshes/finger_collision.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.03804"/>
      <inertia ixx="1E-9" ixy="0.0" ixz="0.0" iyy="1E-9" iyz="0.0" izz="1E-9"/>
    </inertial>
  </link>

  <joint name="robotiq_hande_end_joint" type="fixed">
    <origin xyz="0 0 0.1455" rpy="0 0 0"/>
    <parent link="robotiq_hande_link"/>
    <child link="robotiq_hande_end"/>
  </joint>

  <link name="robotiq_hande_end"/>

</robot>