# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# VS / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Secrets
.git_pass
*.token
*.pat